@import 'colours';

$slider-bg: #00DD00;
$button-bg: #FFF;
$text: white;

.on_off_slider,
.on_off_circle {
  border-radius: 50px;
}

.on_off_slider {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 40px;
  background-color: $slider-bg;
  transition: background-color 0.5s;
  overflow: hidden;

  .slider_part {
    position: relative;

    .on_off_circle {
      position: relative;
      margin: 3px;
      height: 34px;
      width: 34px;
      background-color: $button-bg;
      z-index: 1;
    }

    .draggable_part {
      position: absolute;
      z-index: 2;
      opacity: 0;
      height: 37px;
      width: 37px;
      background-color: red;
    }
  }
}

.on_off_slider.off {
  background-color: $col4;
}
