<div class="row marketing">
  <%= for node <- Domo.SystemSupervisor.all_nodes() do %>
    <% info = GenServer.call(node, :get_information) %>
    <div class="node">
      <p><%= info.label %></p>
      <%= form_tag("/turn_on/#{node}", method: :post) do %>
        <button>ON</button>
      <% end %>
      <%= form_tag("/turn_off/#{node}", method: :post) do %>
        <button>OFF</button>
      <% end %>
    </div>
  <% end %>
</div>
