/* This file is for your main application css. */
body {
  background-color: #2E4052;
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

div.container {
  margin: 60px 0 0 60px;
  padding: 0px;
}

div.header {
  position: fixed;
  z-index: 100;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #FFC857;
  line-height: 60px;
  color: #2E4052;
  font-size: 34px;
  padding: 0 15px;
  font-family: 'Fredoka One', cursive;
}

nav.menu {
  position: fixed;
  width: 60px;
  height: calc(100% - 61px);
  bottom: 0;
  left: 0;
  border-top: 1px solid black;
  background-color: #FFC857;
}

nav.menu a {
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  display: block;
  line-height: 60px;
  width: 60px;
  height: 60px;
  font-size: 20px;
  text-decoration: none;
  color: #2E4052;
  text-align: center;
}

nav.menu a + a {
  border-top: 1px solid white;
}

form + form {
  margin-top: 10px;
}

div.node {
  position: relative;
  display: inline-block;
  background-color: creme;
  border-radius: 7px;
  border: 1px solid #CCC;
  padding: 40px 5px 5px 5px;
  margin: 10px;
  width: 250px;
  text-align: center;
}

div.node button {
  display: inline-block;
  border-radius: 3px;
  background-color: #EEE;
  border: 1px solid #444;
  width: 70px;
  height: 30px;
  font-weight: 600;
  color: #333;
}

div.node div.command {
  position: relative;
  padding-top: 27px;
  padding-bottom: 5px;
  text-align: right;
}
div.node div.command * {
  display: inline-block;
  font-size: 12px;
}

div.node div.command p {
  font-size: 12px;
  text-align: left;
  border-bottom: 1px solid white;
  position: absolute;
  top: 0; left: 0;
  height: 20px;
  margin: 0;
}

div.node p.node_name {
  position: absolute;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  width: initial;
  margin: 0;
  padding: 0 10px;
  top: 0;
  left: 0;
}

div.node input {
  width: 30px;
  height: 22px;
}

label {
  display: block;
}
label + label,
label + button {
  margin-top: 3px;
}

div.node p {
  width: 100%;
  text-align: center;
}
