/* This file is for your main application css. */
body {
  background-color: #A7A2A9;
  color: #08090A;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

div.container {
  margin: 60px 0 0 0px;
  padding: 10px;
}

div.header {
  position: fixed;
  z-index: 100;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #29335C;
  line-height: 60px;
  color: white;
  font-size: 30px;
  padding: 0 15px;
  font-family: 'Roboto Condensed', sans-serif;
  border-bottom: 2px solid #534D41;
}

div.node {
  position: relative;
  display: inline-block;
  color: white;
  background-color: #29335C;
  padding: 5px;
  border-top: 5px solid #534D41;
  border-radius: 2px;
  margin: 5px;
  width: 250px;
  text-align: center;
}

div.node h2 {
  margin-top: 0;
  font-size: 20px;
  text-align: left;
}

div.node button {
  display: inline-block;
  border-radius: 3px;
  background-color: #EEE;
  border: 1px solid #444;
  width: 70px;
  height: 30px;
  font-weight: 600;
  color: #333;
}

div.node div.command {
  position: relative;
  padding-top: 27px;
  padding-bottom: 5px;
  text-align: right;
}

div.node div.command * {
  display: inline-block;
  font-size: 12px;
}

div.node div.command p {
  font-size: 12px;
  text-align: left;
  border-bottom: 1px solid white;
  position: absolute;
  top: 0; left: 0;
  height: 20px;
  margin: 0;
}

div.node p.node_name {
  position: absolute;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  width: initial;
  margin: 0;
  padding: 0 10px;
  top: 0;
  left: 0;
}

div.node input {
  width: 30px;
  height: 22px;
}

label {
  display: block;
}
label + label,
label + button {
  margin-top: 3px;
}

div.node p {
  width: 100%;
  text-align: center;
}

div.fields, div.buttons {
  display: inline-block;
}

div.buttons {
  width: 100px;
}
