// $col0: #EEE;
// $col1: #1C7C54; // deep green-cyan turquise
// $col2: #29335C; // deep koamaru (blue)
// $col3: #08090A; // smoky black
// $col4: #A7A2A9; // quick silver
// $col5: #534D41; // dark liver

$col0: #EEE;
$col1: #DDD; // deep green-cyan turquise
$col2: #CCC; // deep koamaru (blue)
$col3: #BBB; // smoky black
$col4: #AAA; // quick silver
$col5: #999; // dark liver

// $col1: #272727; // raisin black
// $col2: #FED766; // orange-yellow
// $col3: #009FB7; // bondi blue
// $col4: #696733; // dim gray
// $col5: #EFF1F3; // anti-flash white

// $col1: #564138; // dark liver (horses)
// $col2: #2E86AB; // steel blue
// $col3: #F6F5AE; // vanilla
// $col4: #F5F749; // lemon yellow
// $col5: #F24236; // vermilion

$starlight1: #6F65A6;
$starlight2: #211729;
$starlight3: #2E4779;
$starlight4: #607F9A;
$starlight5: #C9BD89;
