.on_off_button {
  border-radius: 100px;
  width: 100px;
  height: 30px;
  background-color: #A7A2A9;
  box-shadow: 2px 2px #A7A2A9 inset;
  line-height: 30px;
  overflow: hidden;
}

.on_off_button.on .slider_part { left: 0; }
.on_off_button.off .slider_part { left: -70px; }

.on_off_button .slider_part {
  position: relative;
  transition: left 0.1s;
  height: 30px;
  width: 170px;
  vertical-align: top;
  line-height: 30px;
  display: inline-block;
}

.on_off_button .on_label,
.on_off_button .off_label {
  width: 50px;
  padding: 0 10px;
  display: inline-block;
  color: #08090A;
  font-weight: bold;
}

.on_off_button .on_label {
  text-align: right;
}
.on_off_button .off_label {
  text-align: left;
}

.on_off_circle {
  display: inline-block;
  vertical-align: top;
  margin: 1px;
  border-radius: 100px;
  height: 28px;
  width: 28px;
  background-color: #534D41;
}

