<div>
  <%= for network <- Domo.Manager.discover do %>
    <%= form_tag("/networks/start?#{%{network: network |> elem(1)} |> URI.encode_query}", method: :post) do %>
      <button>START</button>
    <% end %>
  <% end %>
</div>
